/***********************
Javascript is located in:
/gloss2.dliflc.dev/HeadStartHtml/templates/common/js/CustomFontAdjustTool.js 
***********************/


#array {
	margin: 15px;
	width: auto;
	height: 30px;
	border: 1px solid black;
}
#fontBtnWrap {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	display: inline;
	width: 225px;
	height: 40px;
}
#upDownDiv {
	display: none;
	float: left;
	z-index: 1;
}
#up , #down {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	text-align: center;
	width: 38px;
	height: 35px;
	font-size: 25px;
	line-height: 32px;
	border: 2px solid #207BBB;
	color: #207BBB;
	cursor: pointer;
}
#fontBtn {
	position: relative;
	z-index: 10;
	float: left;
	text-align: center;
	padding-top: 8px;
	width: 98px;
	height: 28px;
	font-size: 16px;
	border: 2px solid #207BBB;
	color: #207BBB;
	background-color: white;
	cursor: pointer;
	margin-right: 15px;
}
#fontBtn:hover, #up:hover, #down:hover {
	color: white;
	background-color: #207BBB;
	transition: all .15s;
}
 #up:hover {
	transform: scale(1.1);
 }
 #down:hover {
	transform: scale(0.9)
 }
 #up:active, #down:active {
	transition: all .05s;
	background-color: black;
	color: white;
	transform: scale(1.4);
}
#down:active {
	transform: scale(0.6);
}
.fontActive{
	color: white !important;
	background-color: black !important;
}